<div class="text cf">
    <div class="text-content"><h2><%= link_to @messages.title, @messages %></h2>

<h3 style="text-align:left">Numero : <%= @messages.number %></h3>

<p><%= @messages.body %><br>
&nbsp;</p>
</div>
</div>