.yellow{
	background-color: yellow;
}
.red{
	color: #D50000;
}
.flotante{
    display:scroll;
    position:fixed;
    bottom:320px;
    right:0px;
}
.fijado{
    position:fixed;
    right:0px;
    bottom:0px;
}
