<!DOCTYPE html>
<html>
  <head>
    <title>AnoniBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="yellow">
    	<h1>Index</h1>
      &nbsp;
    </div>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
