<!DOCTYPE html>
<html>
  <head>
    <title>AnoniBook</title>
    <%= csrf_meta_tags %>

    
    <div class="yellow">
    	<h1>Index</h1>
      &nbsp;
    </div>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
